@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.74), rgb(35, 35, 70), rgb(5, 1, 1));
    background-repeat: no-repeat;
    background-size: 1370px 600px;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100vh;
    width: fit-content;

}
main{
    margin:20px 40px ;
}
main>h1{
    color:rgb(173, 8, 50);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.842);
    display: inline-block;
}
#sign{
    position: absolute;
    right: 10%;
}
#login{
    background-image: linear-gradient(to bottom, rgb(45, 45, 46), rgb(25, 25, 44),rgba(39, 1, 1, 0.842));
    height: 100vh;
    width: 600px;
    position: absolute;
    left: 56.5%;
    box-shadow: -9px 0px 15px rgba(43, 7, 7, 0.678);
}
#formulario{
    margin: 80px 20px 40px 80px;
}
.cred{
    margin:5px auto;
}
#fp{
    color: brown;
    margin-left: 50px ;
}
#fp:hover{
    text-decoration: underline;
    cursor: pointer;
}
#lembrar{
    margin: 10px auto;
}
#log{
    margin: 60px auto 30px auto;
    width: 350px;
    height: 50px;
    border: black;
    border-radius: 20px;
    background-color: rgb(109, 5, 28);
    box-shadow: inset 2px 2px 2px rgba(160, 4, 56, 0.432);
}
#log:hover{
    background-color: rgb(59, 10, 21);
    box-shadow: inset 2px 2px 2px rgba(160, 4, 56, 0.432), 0px 0px 10px rgba(255, 255, 255, 0.158);
    cursor: pointer;
}
#or{
    color: aliceblue;
    position: absolute;
    left: 49%;
}
a{
    color: rgba(5, 75, 167, 0.733);
    text-decoration: none;
}