<form action="/" method="post">
 <input type="email" placeholder="Your email here" id="email" name="email" size="40px">
 <h3 style="color: rgb(163, 4, 4);" class="cred">Your password</h3>
 <input type="password" placeholder="Your password here" id="password" name="password" size="40px" >
            <button id="log" type="submit">Log in</button> <br>
            <button id="log2" onclick="logarg()">Log in with Google</button><br>

</form> <br>